extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Jennifer Inabinet

        p Full Stack JavaScript Developer


        .about-bio

          p My name is Jennifer Inabinet, I started my developer career as an SDET. I'm currently an SDET and have learned backend API testing on job - I'm here to show you those skills as well the skills I've obtained from Team Treehouse.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 703-929-9144
          li jenniferlyninabinet@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/jennifer-inabinet-66593054') LinkedIn
        a.btn-link(href='https://github.com/jlarue528') GitHub
        a.btn-link(href='https://twitter.com/jenn_inacabinet') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back