extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio 

    p This portfolio displays all the work I have put in towards my software Development career. With each milestone of learning, I have completed a project to solidify all that I have learned within that section. Please enjoy!

  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell
          a(href=`${project.live_link}`)
            img.thumbnail(src= `${project.image_urls[1]}`, alt=`Thumbnail: ${project.project_name}`)
            h5= project.project_name

